.master-layout {
  min-height: 100vh;
}

.master-header {
  padding: 0;
}

.master-menu-button {
  font-size: 16px;
  width: 64px;
  height: 64px;
}

.master-content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}